.body{
    line-height: 2.0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px
}
.container{
    margin: auto;
}
.box1{
    text-align: center;
    padding:20rem;
    background-image: url(../images/Pizzaaa.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 220px;


}
    
.form-group{
    padding: 20px;
    padding-left: 0%;

}
.form-group label{
    display: block;
}
.form-group select{
    padding: 8px;
    width: 60%;

}

.footer{
    padding-left: 70%;
}